*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    text-decoration: none;
    
   
}
.start{
    height: 100vh;
    width: 100%;
    background-image: url(new.jpg);
    background-size: cover;
    background-position: center;
    cursor: pointer;
    
}
.navbar{
   display: flex;
  justify-content: space-between;
  padding: 20px 20px;
   
}
.menu{
    
    display: flex;
    text-decoration: none;
    justify-content: space-around;
    font-size: 20px;
    width: 400px;
    font-family: Arial, Helvetica, sans-serif;
    

}
.menu a{
    color: antiquewhite;
    font-weight: 900;
    transition: 2s;
}
.menu a:hover{
    transform: scale(1.02);
    color: rgb(49, 81, 97);
}
#menu{
    color: antiquewhite;
    font-size: 25px;
    font-family:Arial, Helvetica, sans-serif ;
    align-items: center;
    padding-top: 15%;
    margin-left: 35%;
    margin-top: 50px;
    font-weight: 900;
    transition: 2s;
}
#menu:hover{
    transform: scale(1.05);
    color: rgb(163, 225, 241); 
    animation: anime 2s infinite alternate;
    text-decoration: underline;
    
}

#name{
   
    
    font-size: 30px;
    font-weight: 900;
    background: linear-gradient(to right, rgb(200, 6, 6) , rgba(227, 193, 2, 0.793));
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 0 0 60px rgba(227, 193, 2, 0.793);
    animation: anime 1s infinite alternate;

}

 @keyframes anime {
    100%{
        text-shadow: 5px 5px 60px rgb(230, 132, 132);
    }
    
 }
 #search{
    width: 200px;
    height: 25px;
    color: black;
    border-radius: 10px;
    box-shadow: 10px 10px 40px rgb(216, 119, 119) , -10px -10px 40px rgb(163, 225, 241) ;
    padding: 10px;
    border: 2px solid rgba(255, 255, 255, 0.61);
    border: none;
    outline: none;
    backdrop-filter: blur(10px);
 }
 #any{
    width: 60px;
    height: 25px;
    border: none;
    border-radius: 5px;

 }
 .box-form{
    width: 300px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.326);
    align-items: center;
    margin-left: 34.5%;
    border-radius: 10px;
    box-shadow: 20px 20px 60px rgb(210, 128, 128),-20px -20px 60px rgb(163, 225, 241);
    backdrop-filter: blur(10px);
 }
 .container{
    
    margin-top: 13%;
    
 }
 .login1{
   display: flex;
    margin-top: 10%;
    margin-left: 15%;
    width: 220px;
    height: 40px;
    background-color: rgba(240, 255, 255, 0.687);
    border-radius: 6px;
    backdrop-filter: blur(5px);

 }
 .forget{
    margin-top: 5%;
    margin-left: 18%;
    
 }
 .login1 img{
   margin: 8px 10px;
 }
 .u1{
   background: transparent;
   border: none;
   outline: none;
    
 }
 .p1{
    background: transparent;
    border: none;
    outline: none;
 }
 .btn{
    margin-top: 15%;
    margin-left: 13%;
    cursor: pointer;
 }
 #btn1{
    padding: 10px 30px;
    border: 1px solid rgb(210, 128, 128);
    background-color: rgb(210, 128, 128);
    border-radius: 20px;
    font-size: 20px;
    font-weight: 500;
    color: white;
    margin-right:5px;
    
 }
 #btn2{
    padding: 10px 30px;
    border: 1px solid rgb(210, 128, 128);
    background-color:rgb(210, 128, 128);
    border-radius: 20px;
    font-size: 20px;
    font-weight: 500;
    color: white;
 }
 #result{
   color: rgba(255, 0, 0, 0.503);
   top: 25px;
   font-weight: 600;
   margin-left: 20px;

}
 